<%- messages() %>

<div class="management">
  <h1  class="grid-header"><%= title %></h1>
  
  <div class="management-links">
    <h2>Inventory Management</h2>
    <p><a href="/inv/add-classification">Add New Classification</a></p>
    <p><a href="/inv/add-inventory">Add New Vehicle</a></p>
  </div>
</div>
